@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Crea tu usuario de ParkEate</h1>
    <p>En esta versión Beta de ParkEate, solo podrás iniciar sesión. Próximamente esperamos brindarte mayor cobertura.</p>
    <partial name="_LoginPartial" />
</div>
